---
import Layout from '../layouts/Layout.astro';
import GradientText from '../components/GradientText.astro';
---

<Layout>
    <h1>
        Hey, I'm Sebastian 
        <GradientText> 
            Web Developer
        </GradientText>
    </h1>
    <h2>
        Hey, I'm Sebastian 
        <GradientText> 
            Web Developer
        </GradientText>
    </h2>
    <h3>
        Hey, I'm Sebastian 
        <GradientText> 
            Web Developer
        </GradientText>
    </h3>



</Layout>
