---
import Layout from "../layouts/Layout.astro";
import Button from "@/components/Button.astro";
import GradientText from "@/components/GradientText.astro";
import ExperienceSelector from "@/components/ExperienceSelector.astro";
import GradientBorder from "@/components/GradientBorder.astro";
import SkillTabs from "@/components/SkillTabs.astro";
// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>

  <main class="space-y-52 my-24 w-fit px-12 max-w-[1800px]">
    <header
      class="flex flex-col w-full scroll-mt-28 lg:w-2/3 xl:w-1/2 items-start gap-12"
      id="about-me"
      aria-label="Introduction"
    >
    <div class="flex items-center gap-12">
      <div class="size-32 rounded-full bg-secondary">
      </div>
        <GradientBorder class="w-fit">
          <Button class="text-lg bg-background"  size="lg">Available for Work</Button>
        </GradientBorder>
    </div>
      
    </div>
      <h1>
        Hey, I'm Sebastian <br />
        Web <GradientText>Developer</GradientText>
      </h1>
      <p class="text-text leading-8">
        Senior Frontend Engineer (10+ yrs), specializing in high-performance UIs
        with React and modern JS frameworks. Delivering scalable digital
        experiences for enterprise clients.
      </p>
      <nav aria-label="Primary actions" class="flex gap-4 w-full xl:w-1/2">
        <a class="w-1/2" href="mailto:scorream.dev@gmail.com">
          <Button class="contactButton" aria-label="Contact Sebastian by email"
            >Contact</Button
          >
        </a>
        <GradientBorder class="w-1/2">
          <Button
            id="cvButton"
            variant="gradient"
            aria-label="Download Sebastian's CV"
          >
            Download CV
          </Button>
        </GradientBorder>
      </nav>
    </header>

    <section
      class="flex flex-col scroll-mt-28 w-full items-start gap-12 lg:h-[70dvh]"
      aria-labelledby="experience-heading"
      id="experience"
    >
      <h2 id="experience-heading">Professional <GradientText>Experience</GradientText></h2>
      <ExperienceSelector />
    </section>

    <section class="flex flex-col scroll-mt-28 items-center w-full mt-20 gap-4" id="skills">
      <h2 class="text-5xl sm:text-6xl font-extrabold mb-8 text-white text-center">
        Skills 
       <GradientText>
          & Technologies
       </GradientText>
      </h2>
      <SkillTabs />
    </section>
  </main>
  
</Layout>

<script>
  document.getElementById("cvButton")?.addEventListener("click", () => {
    const link = document.createElement("a");
    link.href = "/cv/Sebastian-Correa-CV.pdf";
    link.download = "Sebastian-Correa-CV.pdf";
    document.body.appendChild(link);
    link.click();
    document.body.removeChild(link);
  });
</script>