---
import GradientText from "@/components/GradientText.astro";
import Button from "@/components/Button.astro";
---

<footer id="contact" class="flex w-full items-center justify-center">
  <div class="flex flex-col gap-24 w-full text-center items-center">
    <h1>
      A reliable source for <br />building your <GradientText
        >projects.</GradientText
      >
    </h1>
    <a class="w-1/2" href="mailto:scorream.dev@gmail.com">
      <Button variant="contact" size="xl" class="w-fit">
        <h2 class="text-2xl font-bold">Contact Me</h2>
      </Button>
    </a>
  </div>
</footer>

<script>
  function setFooterHeight() {
    const footer = document.getElementById("contact");
    if (footer) {
      footer.style.height = `${window.innerHeight}px`;
    }
  }

  // Set initial height
  setFooterHeight();

  // Update on orientation change
  window.addEventListener("orientationchange", () => {
    setTimeout(setFooterHeight, 100);
  });
</script>
