---
const { blur } = Astro.props;
---

<div
  class="relative size-full rounded-sm  bg-transparent p-0.5 group"
>
  <slot />
  <div
    class:list={["absolute  -z-10 inset-0  rounded-sm bg-radial-gradient ", blur ? "blur-sm opacity-60 transition-opacity duration-500 group-hover:animate-rotate-gradient group-hover:opacity-100" : "animate-rotate-gradient"]}
  >
  </div>
</div>
 