---
import GradientBorder from "./GradientBorder.astro"
import Button from "./Button.astro";
 
---

<div class="w-full max-w-sm p-6 rounded-2xl bg-card-background border border-accent flex flex-col gap-4 shadow-lg">

    <GradientBorder class="w-fit">
        <Button variant="gradient" size="icon">
          <img src="/icons/reactIcon.svg" alt="React" class="w-6 h-6" />
        </Button>
      </GradientBorder>

<div class="space-y-10">
  <div class="space-y-1">
    <h5 class="text-accent">React</h5>
    <p class="text-subtext text-sm">Modern UI development with hooks and content</p>
  </div>

  <div class="space-y-4">

    <div class="flex justify-between">
      <p class="text-sm text-subtext">Proficiency</p>
      <p class="text-subtext text-sm font-bold">90%</p>
    </div>

    <div class="w-full h-2 rounded-full bg-foreground overflow-hidden">
      <div class="h-full bg-gradient-start " style="width: 40%;"></div>
    </div>
  </div>
</div>

</div>
