---
import "../styles/global.css";
import NavBar from "@/components/NavBar.astro";
import Footer from "@/components/Footer.astro";
import Cursor from "@/components/Cursor.astro";
---

<!doctype html>
<html class="scroll-smooth" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <!-- Favicon por defecto -->
    <link rel="icon" href="/logo/logo-light.png" />
    <!-- Favicon para Light Theme -->
    <link
      rel="icon"
      href="/logo/logo-light.png"
      media="(prefers-color-scheme: light)"
    />
    <!-- Favicon para Dark Theme -->
    <link
      rel="icon"
      href="/logo/logo-dark.png"
      media="(prefers-color-scheme: dark)"
    />
    <meta name="generator" content={Astro.generator} />
    <title>Astro Basics</title>
  </head>
  <body class="bg-black font-Archivo mx-auto w-fit">
    <Cursor />
    <NavBar />
    <slot />
    <Footer />
  </body>
</html>

